<a href="https://colab.research.google.com/github/karthickrajramaswamy/python1/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("hello")

hello

In [2]:
input("what is your name")

what is your namekarthick

'karthick'

In [6]:
#print("LP")
'''
this is not executed
print("karthick")
'''
print("LP")

LP

In [4]:
#Data Types
'''
text type:str
Numeric Types: int, float(decimal value)
Sequence Types:list,tuple
Mapping Type: dict
Set Types: set
Boolean Type: bool
None Type: None Type
'''

In [10]:
var = "Any Value" ''' Any thing inside of double codes would be the String'''
type(var)
var = 12
type(var)

int

In [13]:

x = False
type(x)

bool

In [14]:
print(6/3) # division
print(6//3) #floor division -- it always return the question value
print(6%3) #moduler division - remainder

2.0
2
0

In [23]:
#Assignment Operator
x=6
x += 1  #x = x+1
print(x)

7

In [28]:
x = 6
x!=6 #boolean value

False

In [30]:
x ==6

True

In [32]:
#Statements
#Sequential
#Conditional - if, else, elif
#Iterative - loops

x = 25
if x>15:
  print("Greater")  #indentspace
else:
  print("lesser")

Greater

In [40]:
x = int(input("Enter a number: "))
if x % 2 == 0:
    print("The Even no  is.")
else:
    print("The Odd no is.")

Enter a number: 4
The Even no  is.{x=int}

In [42]:
rating = int(input("Enter the employee rating:"))

if rating>=4 and rating <=5:
  print("Bonus is AED 1000")
elif rating ==3 or rating==2:
  print("Bonus is AED 500")
elif rating<2:
  print("Bonus is 0")
else:
  print("Invalid rating")

Enter the employee rating:3
Bonus is AED 500

In [46]:
#iterative statement
#range  -  start value, stop value, step size
#1 -- i+1=2
#2 -- i+1 = 3
#---- 20 --- i+1 = 21 --- it will stop and it should not print 21
for i in range(1,21): # in is another var to check the I values
   print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [51]:
#while loop
x=6
while (x<=10):
  print(x)
  x=x+1

6
7
8
9
10

In [62]:
for i in range(1,6):
  t=0
for j in range(1,6):
  c=i+j
  t += c
  print(t)

6
13
21
30
40

In [56]:
for i in range(8):
  if i == 7:
    break
  print(i)

0
1
2
3
4
5
6

In [58]:
for i in range(8):
  if i ==3:
    continue
  print(i)

0
1
2
4
5
6
7

In [63]:
for i in range(1,6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

In [73]:

for i in range(5,50,5):
    #if i % 5 == 0
  print(i)

5
10
15
20
25
30
35
40
45

In [76]:
#List
# A list is a mutable ordered collection of elements.
# list s can sotre different data types(integers, string etc.,)
# they are defiend by Square breakets[] and the element is seperated by commas.
# Build-in function len(),list(), append(),insert(),Count(),pop(),reverse()
#sort(),sorted(),min(),max(),sum()

x = [11,2,33,4]
y=["karthick","Banna","Manago"]
print(y)
print(x.count(2))

y.append("kumar")
print(y)

['karthick', 'Banna', 'Manago']
1
['karthick', 'Banna', 'Manago', 'kumar']

In [93]:
a = [12,"A", False, "A", 4.3,78]
print(a)
print(len(a))
print(a.count(2))
print(a.count(78))
a.append("B")
print(a)

a.insert(1,"Z")
print(a)

a.pop()
print(a)

a.remove("A")
print(a)

[12, 'A', False, 'A', 4.3, 78]
6
0
1
[12, 'A', False, 'A', 4.3, 78, 'B']
[12, 'Z', 'A', False, 'A', 4.3, 78, 'B']
[12, 'Z', 'A', False, 'A', 4.3, 78]
[12, 'Z', False, 'A', 4.3, 78]

In [99]:
x=[11,65,12,54,99,0]
x.sort() # you need to run and change the sort vlaue then we need to use
print(x)

y=[9,5,23]
sorted(y) # just for runtime
print(y)

x=[11,23,45,12]
x.reverse()
print(x)
x.sort(reverse=True)
print(x)

[0, 11, 12, 54, 65, 99]
[9, 5, 23]
[12, 45, 23, 11]
[45, 23, 12, 11]

In [107]:
print(max(x))
print(min(x))
print(sum(y))

#slicing function
print(x[2])
print(x[1:4])
print(x[-2]) # second last element

print(x[0:4])
print(x[::2])

# reverse a list
print(x[:: -1])

45
11
37
12
[23, 12, 11]
12
[45, 23, 12, 11]
[45, 12]
[11, 12, 23, 45]

In [109]:
#Tuple
# A tuple is an ordered, immutable collection of elements.
# Tuple is defined by paraenthess().


x=(1,2,3)
print(type(x))
y=[1,2,3]
print(type(y))

<class 'tuple'>
<class 'list'>

In [113]:
#Dictionary
# A dictionary is a collection of key-value pairs.
# Each key is unique and maps to a value.
# using get() method to avoid the errors when the key is not found.
#using items() method to access both the keys and values.
# built - in functions len(),dict(),keys(), items(),get(),update(),del()


# creating a dictionary
student = {
    "name": "Karthick",
    "age" : 25,
    "professional":" AI Engineer"

}
print(student)

#Accessing value using key
print(student["name"]) #output:karthick

print(student["age"]) # output:25

{'name': 'Karthick', 'age': 25, 'professional': ' AI Engineer'}
Karthick
25

In [114]:
student = {
    "name": "Karthick",
    "age" : 25,
    "grade":" 11th",
    "school":"A"

}
print(student)

{'name': 'Karthick', 'age': 25, 'grade': ' 11th', 'school': 'A'}

In [116]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'grade', 'school'])
dict_values(['Karthick', 25, ' 11th', 'A'])
dict_items([('name', 'Karthick'), ('age', 25), ('grade', ' 11th'), ('school', 'A')])

In [121]:
student["country"] = "India"
print(student)

#update - update and merge the new value in current record
student.update({"hobbies":"reading","age":"25"})
print(student)

del student["age"] # it will delete the age value 25
print(student)

student.clear() # it will gives as empty dictionary
print(student)

{'country': 'India'}
{'country': 'India', 'hobbies': 'reading', 'age': '25'}
{'country': 'India', 'hobbies': 'reading'}
{}

In [131]:
#List of Characters
char_list = ['a', 'b', 'c', 'a', 'b']

#Dictionary to store the frequency of each character
frequency = {}

#Counting the frequency
for char in char_list:
  if char in frequency:
      frequency[char] +=1
  else:
      frequency [char] =1

  print(frequency)

{'a': 1}
{'a': 1, 'b': 1}
{'a': 1, 'b': 1, 'c': 1}
{'a': 2, 'b': 1, 'c': 1}
{'a': 2, 'b': 2, 'c': 1}

In [125]:
#sets
x = set([9,8,7,9])
x

{7, 8, 9}

In [127]:
x=set(["FIVE","b","A",'a',7,9,"A"])
x

{7, 9, 'A', 'FIVE', 'a', 'b'}

In [ ]:
#File Handling
#with... open automatically closes the file, so we don't have to use the close() function
# different file Mode in Python
# 'r' - open the text file for reading. Raises an i/o  error if the file does not exist.
# 'r+' Open the file for reading and writing. Raises an I/O error if the file does not exist.
# 'w' open the file for writing. Truncates the file if it already exists.
# 'w+'

import csv

with open('Book.csv', 'r') as file1:
  reader =csv.reader(file1)

  for row in reader:
     print(row)